{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": 60,
        "firefox": 60
      },
      "spec": true,
      "debug": false,
      "modules": "cjs"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"]
  ]
}
